1. Convert RGB to YCbCr
2. Chroma Subsample 4:2:2 and 4:1:1
3. Output the following for both subsampling:
	a. RGB
	b. Cr gray
	c. Cb gray
4. Report: discuss/compare output images with each other and with input image.
	a. Needs all three output images
	b. Discuss how outputs from subsampling approaches are different based on subjective observation


Turn in:
	Code
	All output - 2 out RGB, 2 Cb gray, 2 Cr gray
	Report


Left to do:
Write convertFromYCbCr
Run on all 3 images
Write report